@bankup:registry=https://artifacts.scale5.io/repository/npm-sgabs/
//artifacts.scale5.io/repository/:_authToken=NpmToken.2953ed84-7f45-37ae-b34f-2c74e477b62e
//artifacts.scale5.io/repository/npm-sgabs/:_authToken=NpmToken.2953ed84-7f45-37ae-b34f-2c74e477b62e
